.container{
    text-align: center;
    margin-top:23px
}

h1 {
    font-size: 40px;
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solidrgb(168, 103, 5);
    font-size:34px;
    height: 60px;
    width: 315px;
}

button {
    border-radius: 20px;
    font-size: 25px;
    background: #1A4D2E;
    width: 75px;
    height: 75px;
    color: white;
}
.calculator{ 
    border: 4px solid black;
    background-color: #76BA99;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;   
}

